.page-header {
  color: #ffffff;
  background-color: #4d7209;
  border-bottom: 4px solid #5b8311;
}

.page-header__wrapper {
  .container();
  .clearfix();
  padding: 10px 0;
}

.page-header__logo {
  float: left;
  margin-top: 12px;
  margin-right: 150px;
  font-size: 26px;
}

.page-header__tel {
  float: right
}

.page-header__tel-main {
  font-size: 26px;
}

.page-header__tel-desc {
  display: inline-block;
  vertical-align: middle;
}

.page-header__tel-desc a {
  display: inline-block;
  margin-top: 4px;
  margin-left: 0px;
  vertical-align: top;
  font-size: 14px;
  color: #ffffff;
  
  &:hover {
    text-decoration: none;
  }
}

.page-header__mail {
  margin-right: 5px;
  margin-top: 0;
  fill: #ffffff;
  
  &:hover {
    fill: #000000;
  }
}

.page-header__tel-url {
  padding-top: 3px;
}