.price__wrapper {
  .container();
  padding-bottom: 30px;
  border-bottom: 1px solid #5e8a0f;
}

.price__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #f04100;
  text-align: center;
}

.price__table table {
  margin: 0 auto;
  border: 1px solid #000000;
  border-collapse: collapse;
}

.price__table td {
  padding: 20px 90px;
  font-size: 20px;
  border: 1px solid #000000;
}

.price__info {
  padding-top: 20px;
  text-align: center;
}